* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    padding: 10em 0;
}

/* First work: */
/* .parent_container {
    background-color: aliceblue;
    padding: .5em;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.child {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
}

.child1 {
    background-color: red;
}

.child2 {
    display: none;
    background-color: lime;
}

.parent_container:hover .child1 {
    border: 5px solid black;
}

.parent_container:hover .child2 {
    display: inline-block;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 15em 0;
    /* If we gave left-right padding, the button wouldn't be centered with smaller viewports.*/
    background-color: gray;
    text-align: center;
}

.btn {
    padding: 1.5em 3em;
}

.btn_styling {
    font-size: 1.2rem;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border-right: 1px solid;
    border-left: 1px solid;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:active {
    border: 6px double black;
}

.focused {
    display: none;
}

.btn:active .focused {
    display: inline;
}

.btn:active .visible {
    display: none;
}