*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: gray;
    color: white;

    padding: 2em;
}

/* .check {
    display: none;
}

.element {
    height: 10rem;
    width: 10rem;
    background-color: red;
}

.check:checked ~ .element{
    background-color: green;
} */

.check {
    display: none;
}

.hamburger_container {
    display: block;
    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;
}

.bar {
    height: .3rem;
    border: 1px solid white;
    border-radius: 10px;

    transition: opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.bar-1 {
    background-color: green;
    transform: translateY(-4px);
}

.bar-3 {
    background-color: aqua;
    transform: translateY(4px);
}

.bar-1,
.bar-3 {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .4);
}

.check:checked~.hamburger_container>.bar-2 {
    opacity: 0;
}

.check:checked~.hamburger_container>.bar-1 {
    transform: translateY(4px) rotate(45deg);
}

.check:checked~.hamburger_container>.bar-3 {
    transform: translateY(-5px) rotate(-45deg);
}