p {
    /* color: yellow;
    height: 100px;
    width: 200px;
    background-color: red;
    border: 5px solid orange; */

    background-color: red;
    background-color: orange;
    background-color: orange;
    background-color: orange;
    
    background-color: pink;
    
}


p {
    background-color: purple;
}

/* 1000 lines of CSS */



h1 {
    background-color: #ff0000;
    background-color: rgba(0, 0, 255, 0.1);
}

div {
    background-color: pink;
}


span {
    background-color: blue;
}















p {
    background-color: aqua;
}