* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 229, 232);
    padding: 150px 0;
}

/* Utility classes */
.btn {
    border: none;
    background-color: rgb(184, 171, 171);
    cursor: pointer;
    padding: 10px 20px;
}

.center {
    margin: auto;
    width: fit-content;
}

.float_right {
    float: right;
}

/* Component classes */
.double_border {
    border: 5px double red;
}

.parent {
    width: 500px;
    padding: 10px;
}

/* .parent>* {
    padding: 30px 20px;
} */

.text,
.btn_container {
    padding: 30px 20px;
}

.text {
    font-size: 20px;
}

.btn_first {
    color: aqua;
}

.btn_second {
    color: white;
}