h1 {
    background-color: greenyellow;
}

/* IMP trick: Use a span to style a certain part of the content (separately): */
span {
    background-color: lightblue;
    /* Example of cascade: */
    color: black;
    border: 3px solid red;
}

pre {
    border: 10px solid yellow;
}

div {
    color: blue;
    border: 2px solid red;
    background-color: rgba(255, 140, 0, 0.1);
}