* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 3em;
    /* font-style: italic; */
}

.container {
    /* background-color: lime;
    background-image: url(../img/large-cat-image.png); */
    /* background-image: url(../img/small-cat-image.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 320px 500px; */

    /* cover and contain */
    /* background-size: cover; */

    /* background-position: top 20px right 50px; */

    /* background-size: cover;
    background-position: top right; */

    /* background: color image repeat position; */
    /* background: lime url(../img/small-cat-image.png) no-repeat center;

    padding: 2em;
    width: 70%;
    margin: auto; */
}

/* .content {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.7;
} */

/* .box {
    width: 6rem;
    height: 6rem;
    background-color: lime;
    cursor: pointer;
    margin-bottom: 1rem;
}

.box:hover {
    background-color: red;
    height: 10rem;
    width: 10rem;
}

.btn {
    padding: 1em 2em;
    cursor: pointer;
} */

.btn:hover {
    /* background-color: blue; */
}

/* .btn:focus {
    background-color: green;
} */

/* .btn:active {
    background-color: yellow;
} */

/* .container :not(p) {
    color: red;
} */

/* .container {
    color: yellow;
}

a:link {
    color: green;
}

a:active {
    color: purple;
}

a:visited {
    color: aqua;
} */

a:hover {
    /* color: red; */
}

/* visited => hover => active */

.container {
    background-color: gray;
    padding: 1em;
}

/* .container p {
    color: white;
}

p {
    color: red;
} */

/* .paragraph.something {
    color: red;
}

.something {
    color: yellow;
}

.paragraph {
    color: green;
}

p {
    color: pink;
} */

/* id => 100;  classes => 10;  tags => 1;  inline-style => 1000 */


.div {
    /* background-color: rgba(0, 128, 0, .3); */
    /* background-color: rgba(0, 128, 0); */

    background-color: green;
    height: 10rem;
    width: 10rem;

    opacity: 0;
    /* display: none; */

    visibility: hidden;

    cursor: pointer;
}

.sibling {
    height: 5rem;
    width: 5rem;
    background-color: red;
}