*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    width: 50%;
    font-size: 1.5rem;
}

.paragraph::first-letter {
    border: 2px solid rgb(241, 196, 15);
    background-color: rgb(149, 165, 166);
    color: rgb(241, 196, 15);
    font-weight: bolder;
    font-size: 3rem;

    padding: .2em;

    margin-right: .3rem;
    float: left;
}

.paragraph::selection {
    text-decoration: 2px underline wavy;
}

.tooltip {
    color: rgb(116, 185, 255);
    position: relative;
}

.tooltip::before {
    content: 'a cool tool tip';
    font-size: .7rem;

    padding: 1em;
    text-align: center;

    width: 10rem;

    background-color: gray;
    color: white;

    position: absolute;
    bottom: 100%;
}

.tooltip::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid gray;

    position: absolute;

    left: 60%;
}

.tooltip::before,
.tooltip::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.tooltip:hover::before,
.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}