@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 1em;

    background-color: black;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

/* Resets: */

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* Utility classes: */

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.white_padding_border {
    border: 3px solid white;
    padding: 1em;
}

/* Component classes: */
.navigation_bar {
    gap: 5rem;
    padding: 2em;
    background-color: rgba(123, 235, 235, 0.85);
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
}

.empty_spacing {
    padding: 2.5em;
}

.first_section {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.first_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100vh;
    width: 70%;
}

.hidden_numbers_containers {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Layout => display, position, height, width, z-index, gap, etc. */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
}

.overlay_styling {
    background-color: rgba(255, 255, 255, .4);
    opacity: 0;
    transition: opacity 500ms ease-in-out,
        height 300ms ease-in-out;
}

.hidden_number_container {
    position: relative;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    z-index: 5;
}

.number {
    font-size: 3rem;
    font-weight: bolder;
}

.white_box {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    transition: left 500ms ease-in-out;
}

.hidden_number_container:hover>.white_box {
    left: 100%;
}

.hidden_number_container:nth-child(4):hover>.white_box {
    left: -100%;
}

.hidden_number_container:hover~.overlay {
    opacity: 1;
    height: 100%;
}

.first_section_space {
    flex-grow: 1;
    /* height: 78%; */
}

.second_div {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;

    position: sticky;
    top: 15%;
}

.lime_box {
    background-color: lime;
    width: calc(50% - .5rem);
    height: 5rem;
}

.lime_box:nth-child(3) {
    width: 100%;
}

.second_section {
    height: 50rem;
    margin-top: 1rem;
}

.chat_box_container {
    background-color: rgb(138, 43, 226);
    width: fit-content;
    cursor: pointer;

    position: fixed;
    top: 78%;
    right: 2%;

    z-index: 1000;
}

.chat_image {
    font-size: 6rem;
}

.popup_container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.popup_container_styling {
    background-color: rgb(238, 130, 238);
    padding: 2em;
    text-align: center;
    opacity: 0;
    visibility: hidden;

    transition: opacity 500ms ease-in-out;
}

.chat_box_container:hover>.popup_container {
    opacity: 1;
    visibility: visible;
}